.marquee {
  white-space: nowrap;
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

/* @media (max-width: 767px) {
  .bg-gradient-to-r {
    background: none;
  }
} */
